@page
@model ExternalLoginModel
@{
    ViewData["Title"] = "Register";
}

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-secondary bg-gradient ml-0 py-4">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="py-2 text-white">Register with @Model.ProviderDisplayName</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <div class="row pt-3">
            <div class="col-md-12">
                <div class="alert alert-info">
                    <p>
                        You've successfully authenticated with <strong>@Model.ProviderDisplayName</strong>.
                        Please complete the following information to finish creating your account.
                    </p>
                </div>

                <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="row">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating mb-3 col-md-12">
                        <input asp-for="Input.Email" class="form-control" autocomplete="email" placeholder="Please enter your email." />
                        <label asp-for="Input.Email" class="ms-2 text-muted">Email</label>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-12">
                        <input asp-for="Input.Name" class="form-control" placeholder="Please enter your name." />
                        <label asp-for="Input.Name" class="ms-2 text-muted">Full Name</label>
                        <span asp-validation-for="Input.Name" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Please enter your phone number." />
                        <label asp-for="Input.PhoneNumber" class="ms-2 text-muted">Phone Number</label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-6">
                        <input asp-for="Input.StreetAddress" class="form-control" placeholder="Please enter your address." />
                        <label asp-for="Input.StreetAddress" class="ms-2 text-muted">Street Address</label>
                        <span asp-validation-for="Input.StreetAddress" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-4">
                        <input asp-for="Input.City" class="form-control" placeholder="Please enter your city." />
                        <label asp-for="Input.City" class="ms-2 text-muted">City</label>
                        <span asp-validation-for="Input.City" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-4">
                        <input asp-for="Input.State" class="form-control" placeholder="Please enter your state." />
                        <label asp-for="Input.State" class="ms-2 text-muted">State</label>
                        <span asp-validation-for="Input.State" class="text-danger"></span>
                    </div>
                    <div class="form-floating mb-3 col-md-4">
                        <input asp-for="Input.PostalCode" class="form-control" placeholder="Please enter your postal code." />
                        <label asp-for="Input.PostalCode" class="ms-2 text-muted">Postal Code</label>
                        <span asp-validation-for="Input.PostalCode" class="text-danger"></span>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
